.container {
  width: 1024px;
  max-width: 100%;
  margin: 1.5rem auto;
}
.player {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.player > div {
  width: 100%;
  height: 100%;
}
.player > div > div:first-of-type > div {
  width: 100%;
  height: 15rem;
}
.span {
  text-align: center;
  font-weight: 500;
}
